version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./mlruns:/app/mlruns
    environment:
      - API_URL=http://localhost:8000
      - FRONTEND_ORIGIN=http://localhost:8501
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - DB_PATH=/app/data/minicloud.db
      - HF_TOKEN=${HF_TOKEN}
    depends_on:
      - mlflow

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:8000
      - PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.14.1
    ports:
      - "5555:5000"
    command: mlflow server --host 0.0.0.0 --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./mlruns
    volumes:
      - ./mlruns:/mlruns
      - ./mlflow_data:/mlflow_data
